.message-body {
  padding: 0.5em 1em !important;
}

.field-body .field {
  margin-top: 4px !important;
}

.field .field-label .label {
  font-size: 14px !important;
}

.field .field-label {
  flex-grow: 0.5 !important;
}

.option-form .field .field-label {
  flex-grow: 1 !important;
}
