.login-form {
  top: 5rem;
  width: 400px;
  margin: 0 auto !important;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .login-form {
    width: 85%;
  }
}
